@import "searchbar.css";
@import "tabs.css";
@import "product-card.css";

/* create var colors */
:root {
    --green: #17A030;
    --white: #ffffff;
    --darkblue: #1B153D;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.headBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}