@import "searchbar.css";
@import "tabs.css";
@import "product-card.css";

/* create var colors */
:root {
    --green: #17A030;
    --white: #ffffff;
    --darkblue: #1B153D;
    --gray: #9095A6A6;
    --background: #FCFCFF;
}

body, html {
    margin: 0;
    padding: 0;
    background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 255, 1) 5%);
}


main {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.headBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuHidden {
    justify-content: flex-end;
}

.menuHidden .menuIcon {
    display: none;
}

.menuHidden .searchInputWrapper {
    width: 100%;
}