@import "searchbar.css";

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.headBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}